@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

:root {
  scroll-padding-top: 4rem;
}

/* FOR THE DROPDOWN MENU DATASTORY */
.group:hover .group-hover\:flex {
  display: flex;
}

.group {
  position: relative;
}

.group .group-hover\:flex {
  margin-top: 0;
  /* Remove gaps */
  padding: 4px 0;
  position: absolute;
  display: none;
  top: 100%;
  /* Place directly below the link */
  left: 0;
  z-index: 10;
}

.group:hover .group-hover\:flex {
  display: flex;
}

.rotate-45 {
  transform: rotate(45deg);
}

/* Additional bounce animation to emphasize the appearance */
.animate-bounce {
  animation: bounce 3s;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-8vw);
  }

  75% {
    transform: translateX(4vw);
  }
}

/* FOR THE HOME WITH THE SPOTLIGHTS */
.spotlight-left {
  position: absolute;
  width: 25vw;
  height: 25vw;
  background: radial-gradient(circle, rgba(238, 229, 66, 0.9) 20%, rgba(255, 255, 255, 0.1) 90%);
  border-radius: 50%;
  filter: blur(1vw);
  animation: move-spotlight-left 10s infinite alternate ease-in-out;
  z-index: 0;
  top: 34vw;
  left: 19vw;
}

.gradient-line-left {
  position: absolute;
  width: 110%;
  height: 50vw;
  background: linear-gradient(rgba(238, 229, 66, 0.9),
      rgba(255, 255, 255, 0.1) 85%);
  z-index: 0;
  top: 0;
  left: -55vw;
  clip-path: polygon(50% 0%, 40% 100%, 60% 100%);
  /* Cone shape */
  animation: move-light-left 5s infinite alternate ease-in-out;
  transform-origin: top left;
  transform-origin: top;

}

.spotlight-right {
  position: absolute;
  width: 25vw;
  height: 25vw;
  background: radial-gradient(circle, rgba(45, 152, 132, 0.9) 20%, rgba(255, 255, 255, 0.1) 90%);
  border-radius: 50%;
  filter: blur(1vw);
  animation: move-spotlight-right 10s infinite alternate ease-in-out;
  z-index: 0;
  top: 34vw;
  right: 19vw;
}

.gradient-line-right {
  position: absolute;
  width: 110%;
  height: 50vw;
  background: linear-gradient(rgba(45, 152, 132, 0.9),
      rgba(255, 255, 255, 0.1) 85%);
  z-index: 0;
  top: 0;
  right: -55vw;
  clip-path: polygon(50% 0%, 40% 100%, 60% 100%);
  /* Cone shape */
  animation: move-light-right 5s infinite alternate ease-in-out;
  transform-origin: top left;
  transform-origin: top;
}

@keyframes move-spotlight-left {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(17vw, -17vw);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes move-light-left {
  from {
    transform: rotate(-35deg);
  }

  to {
    transform: rotate(-60deg);
  }
}

@keyframes move-spotlight-right {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-17vw, -17vw);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes move-light-right {
  from {
    transform: rotate(35deg);
  }

  to {
    transform: rotate(60deg);
  }
}

#home {
  position: relative;
}

/* FOR THE INTRO WITH THE BUBBLE */

.bubble-container-left {
  top: 31%;
  left: 23%;
  width: 38vw;
  height: 38vw;
  position: absolute;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  opacity: 0;
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble-container-left2 {
  top: 68%;
  left: 50%;
  width: 33vw;
  height: 33vw;
  position: absolute;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  opacity: 0;
  transition: all 3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble-container-right {
  top: 37%;
  left: 73%;
  width: 35vw;
  height: 35vw;
  position: absolute;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  opacity: 0;
  transition: all 2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble-container-left.visible {
  width: 38vw;
  height: 38vw;
  opacity: 0.8;
  border-radius: 50%;
  background: radial-gradient(circle, rgb(253, 223, 71) 80%, rgba(101, 0, 141, 0.1) 100%);
}

.bubble-container-left2.visible {
  width: 33vw;
  height: 33vw;
  opacity: 0.9;
  border-radius: 50%;
  background: radial-gradient(circle, rgb(181, 107, 234) 80%, rgba(0, 0, 0, 0.1) 100%);
}

.bubble-container-right.visible {
  width: 35vw;
  height: 35vw;
  opacity: 0.8;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(45, 152, 132, 0.7) 100%, rgba(0, 0, 0, 0.1) 100%);
}

.bubble-content {
  text-align: center;
  font-size: 1rem;
  /* Slightly reduce font size for better fit */
  color: #fff;
  width: 95%;
  /* Adjust width to fit inside the bubble */
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Film Strip Base Style */
.film-strip {
  width: 100vw;
  height: 20vw;
  /* Adjust for strip width */

  background-size: cover;
}

/* Left Film Strip */
.film-strip-top {
  top: 0vw;
  left: -1.5vw
}

/* Left Film Strip */
.film-strip-bottom {
  top: 0vw;
}

/* Inner Content Styling */
.film-strip-content {
  text-align: center;
  font-size: 2rem;
  /* Slightly reduce font size for better fit */
  color: #fff;
  width: 95%;
  /* Adjust width to fit inside the bubble */
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* Ensures text does not overflow */
}

/* Animation Classes (Triggered on Scroll) */
.film-strip.visible {
  opacity: 1;
  transform: translateX(0);
  /* Slides into place */
}