@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

:root {
  scroll-padding-top: 4rem;
}

/* FOR THE DROPDOWN MENU DATASTORY */
.group:hover .group-hover\:flex {
  display: flex;
}

.group {
  position: relative;
}

.group .group-hover\:flex {
  margin-top: 0; /* Remove gaps */
  padding: 4px 0;
  position: absolute;
  display: none;
  top: 100%; /* Place directly below the link */
  left: 0;
  z-index: 10;
}

.group:hover .group-hover\:flex {
  display: flex;
}

/* FOR THE HOME WITH THE SPOTLIGHTS */
.spotlight-left {
  position: absolute;
  width: 25vw;
  height: 25vw;
  background: radial-gradient(circle, rgba(238, 229, 66, 0.7) 0%, rgba(101, 0, 141, 0.1) 90%);
  border-radius: 50%;
  filter: blur(1vw);
  animation: move-spotlight-left 10s infinite alternate ease-in-out;
  z-index: 0;
  top: 34vw;
  left: 19vw;
}
.gradient-line-left {
  position: absolute;
  width: 110%;
  height: 50vw;
  background: linear-gradient(
    
  rgba(238, 229, 66, 0.7),
    rgba(101, 0, 141, 0.1) 85%
  );
  z-index: 0;
  top: 0;
  left: -55vw;
  clip-path: polygon(50% 0%, 40% 100%, 60% 100%); /* Cone shape */
  animation: move-light-left 5s infinite alternate ease-in-out;
  transform-origin: top left;
  transform-origin: top;
  
}
.spotlight-right {
  position: absolute;
  width: 25vw;
  height: 25vw;
  background: radial-gradient(circle, rgba(23, 208, 125, 0.7) 0%, rgba(101, 0, 141, 0.1) 90%);
  border-radius: 50%;
  filter: blur(1vw);
  animation: move-spotlight-right 10s infinite alternate ease-in-out;
  z-index: 0;
  top: 34vw;
  right: 19vw;
}
.gradient-line-right {
  position: absolute;
  width: 110%;
  height: 50vw;
  background: linear-gradient(
    rgba(23, 208, 125, 0.7),
    rgba(101, 0, 141, 0.1) 85%
  );
  z-index: 0;
  top: 0;
  right: -55vw;
  clip-path: polygon(50% 0%, 40% 100%, 60% 100%); /* Cone shape */
  animation: move-light-right 5s infinite alternate ease-in-out;
  transform-origin: top left;
  transform-origin: top;
}
@keyframes move-spotlight-left {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(17vw, -17vw);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes move-light-left {
  from {
    transform: rotate(-35deg);
  }
  to {
    transform: rotate(-60deg);
  }
}
@keyframes move-spotlight-right {
  0% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(-17vw, -17vw);
  }
  
  100% {
    transform: translate(0, 0);
  }
}
@keyframes move-light-right {
  from {
    transform: rotate(35deg);
  }
  to {
    transform: rotate(60deg);
  }
}
#home {
  position: relative;
}

/* FOR THE INTRO WITH THE BUBBLE */

.bubble-container-left{
  top: 28%;
  left: 20%;
  width: 55vw;
  height: 55vw;
  position: absolute;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  opacity: 0;
  transition: all 2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bubble-container-left2{
  top: 80%;
  left: 20%;
  width: 55vw;
  height: 55vw;
  position: absolute;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  opacity: 0;
  transition: all 2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble-container-right{
  position: absolute;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  opacity: 0;
  transition: all 3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 75%;
  width: 45vw;
  height: 45vw;
}
.bubble-container-left.visible {
  width: 55vw;
  height: 55vw;
  opacity: 1;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.7) 40%, rgba(0, 0, 0, 0.1) 90%);
}
.bubble-container-right.visible {
  width: 45vw;
  height: 45vw;
  opacity: 1;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, rgba(0, 0, 0, 0.1) 80%);
}

/* Text Inside the Bubble */
.bubble-content {
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  padding: 10rem;
}